# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [4]:
class Animal:
  def __init__(self, age, weight, name="Unknown animal"):
    self.name = name
    self.age = age
    self.weight = weight

  def grow_up(self):
    self.age += 1
    print(f"Oh, {self.name} is {self.age} y.o. now!")

  def feed(self, portion=0.2):
    self.weight += portion
    print(f"Oh, {self.name}'s weight is {self.weight} now")

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [5]:
cat = Animal(3, 5, "Maison")
cat.feed(0.1)

kitten = Animal(0, 0.2)
print(kitten.name)

Oh, Maison's weight is 5.1 now
Unknown animal

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [6]:
class Protection:
  def __init__(self):
    self.public = "This is my public attribute"
    self._protected = "This is my protected attribute"
    self.__private = "This is my private attribute"

test_obj = Protection()
print(f"Test getting my public attribute: {test_obj.public}")
print(f"Test getting my protected attribute: {test_obj._protected}")
try:
  print(f"Test getting my private attribute: {test_obj.__private}")
except:
  print(f"You can`t get my private attribute")

Test getting my public attribute: This is my public attribute
Test getting my protected attribute: This is my protected attribute
You can`t get my private attribute

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

self - параметр для доступу до атрибутів чи методів конкретного екзмепляру класу, при використанні у методах класу свідчить про підвʼязку до поточного екзмепляру

метод __init _ - ініціалізатор нового обʼєкту представника певного класу для присвоєння значень атрибутів, майбутнього використання методів класу та потрібних початкових налаштувань

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [7]:
class Figure:
  def __init__(self) -> None:
    pass

  def get_area(self):
    return 0

  def __add__(self, other):
    if (isinstance(other, Figure)):
      return self.get_area() + other.get_area()
    else:
      print("The second object has unexpected type")

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [10]:
import math

class Triangle(Figure):
  def __init__(self, base, height):
    self.base = base
    self.height = height

  def get_area(self):
    return 0.5 * self.base * self.height

class Circle(Figure):
  def __init__(self, radius):
    self.radius = radius

  def get_area(self):
    return math.pi * self.radius**2

tr = Triangle(5, 2)
ci = Circle(3)

print(tr + ci)

33.27433388230814

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [12]:
# check object and class
print(isinstance(tr, Triangle))
print(isinstance(tr, Figure))

# check class and class
print(issubclass(Triangle, Figure))
print(issubclass(Figure, Triangle))

True
True
True
False

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [20]:
class BankAccount:
  def __init__(self, account_number, balance=0):
    self.__account_number = account_number
    self.__balance = balance

  @property
  def balance(self):
    return self.__balance

  @property
  def account_number(self):
    return self.__account_number

  @balance.setter
  def balance(self, new_balance):
    if new_balance > 0:
      self.__balance = new_balance
      print(f"Your balance now: {self.balance}")
    else:
      print("Error caused by not positive value")


  def add_money(self, money):
    if money > 0:
      self.balance += money
    else:
      print("Error caused by not positive value")

  def get_money(self, money):
    if money > 0:
      self.balance -= money
    else:
      print("Error caused by not positive value")


acc = BankAccount(8282873892, 2239)
print(f"Initial account number: {acc.account_number}\nInitial balance: {acc.balance}\n")
acc.add_money(800)
acc.get_money(2239)

Initial account number: 8282873892
Initial balance: 2239

Your balance now: 3039
Your balance now: 800

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [26]:
class Book:
  def __init__(self, book_name, author_name):
    self.book_name = book_name
    self.author_name = author_name

class Library:
  def __init__(self):
    self._books = []

  def add_book(self, book):
    if (isinstance(book, Book)):
      self._books.append(book)
    else:
      print("The second object has unexpected type")

  def delete_book(self, book):
    if (isinstance(book, Book)):
      for b in self._books:
        if b == book:
          self._books.remove(b)
    else:
      print("The second object has unexpected type")

  def show_books(self):
    if len(self._books)>0:
      print("Books in the library: ")
      for book in self._books:
        print(f"Title {book.book_name}, author {book.author_name}")
    else:
      print("There are no books in the library")

book1 = Book("Title1", "author1")
book12 = Book("Title1", "author2")
book2 = Book("Title2", "author2")
book23 = Book("Title2", "author3")
book3 = Book("Title3", "author3")

books = [book1, book12, book2, book23, book3]

lib = Library()
lib.show_books()

for book in books:
  lib.add_book(book)

lib.show_books()

lib.delete_book(book12)
lib.delete_book(book23)

lib.show_books()

There are no books in the library
Books in the library:
Title Title1, author author1
Title Title1, author author2
Title Title2, author author2
Title Title2, author author3
Title Title3, author author3
Books in the library:
Title Title1, author author1
Title Title2, author author2
Title Title3, author author3

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [31]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

class Employee:
  def __init__(self, department, salary):
    self.department = department
    self.salary = salary

class Manager(Person, Employee):
  def __init__(self, name, age, department, salary):
        Person.__init__(self, name, age)
        Employee.__init__(self, department, salary)

man = Manager("Mark", 20, "Kanada", 7671818)

print(man.name, man.age, man.department, man.salary)

print(Manager.mro())

Mark 20 Kanada 7671818
[<class '__main__.Manager'>, <class '__main__.Person'>, <class '__main__.Employee'>, <class 'object'>]

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [37]:
row = "abcd"

i = iter(row)

for j in range(5):
  value = next(i)
  if j < 4:
    print(value)

a
b
c
d

StopIteration:

А що якщо викликати цю ж функцію на рядку?

In [38]:
row = "abcd"

for j in range(5):
  value = next(row)
  if j < 4:
    print(value)

TypeError: 'str' object is not an iterator

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

Ітерабельний обʼєкт - обʼєкт, елементи якого можна перебрати за допомогою циклу або з використанням ітератора(наприклад, стрічка чи список)

Ітератор - обʼєкт, який за допомогою функції next може отримувати наступний обʼєкт, запамʼятовуючи свої стани

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [39]:
class Alphabeth:
  def __init__(self):
    self._letter = ord('a')

  def __iter__(self):
    return self

  def __next__(self):
    if self._letter <= ord('z'):
      letter = chr(self._letter)
      self._letter += 1
      return letter
    else:
        raise StopIteration

alphabeth = Alphabeth()

for _ in range(26):
  print(next(alphabeth))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.